.footer{
    background: #111;
    color: white;
    padding: 40px 20px;
}

.footer-container{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.footer-section{
    margin: 10px;
}

.icons{
    display: flex;
    gap: 15px;
    font-size: 24px;
    cursor: pointer;
}

.footer-bottom {
  width: 100%;
  margin-top: 20px;
  border-top: 1px solid gray;
  
}
.content{
    text-align: center;
}
.logo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
